.directMessageCard {
	position: absolute;
	left: -5rem;
	margin-top: 1rem;
	height: 36rem;
}

#replyIcon {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#friends {
	width: 20rem;
	overflow: auto;
}

#messages {
	position: absolute;
	left: -10rem;
	width: 44rem;
	height: 30rem;
	overflow: auto;
}

#submitForm {
	position: absolute;
	top: 30rem;
	left: -10rem;
	width: 44rem;
	margin-top: 1rem;
}

#textarea {
	width: 40rem;
}

#submitBtn {
	position: absolute;
	left: 40rem;
	top: 0;
	margin-top: 1rem;
	margin-left: 1rem;
}
