.feedCard {
	margin-bottom: 15px;
}

.coinIcon {
	margin-top: -2.5px;
	margin-right: 5px;
}

.list-group-flush {
	margin: -10px -1.25rem -1.5rem -1.25rem;
}

a {
	cursor: pointer;
}

.list-group > .list-group-item > p {
	margin-bottom: 8px;
}

#feedList > .feedCard > .card-body,
.singleCard > .card-body {
	padding-bottom: 0 !important;
}

.userCard > .card-body {
	padding: 10px 20px 0px;
}

.userCard > .card-header > img {
	margin-bottom: 10px;
}

.singleCard,
.feedCard,
#feedList {
	text-align: left;
}

.requestCard > .card-body > a,
.requestCard > .card-body > p {
	display: inline-block;
}

.requestCard > .card-body > a {
	margin-right: 2.5px;
}

.card-footer > button {
	margin-right: 20px !important;
	margin-bottom: -5px !important;
}

.cardUnclaimed {
	border-left: 4px solid rgba(30, 114, 211, 0.7) !important;
}

.cardComplete {
	border-left: 4px solid rgba(58, 160, 55, 0.7) !important;
}

.cardClaimed {
	border-left: 4px solid rgba(207, 191, 46, 0.7) !important;
}
