// Change the theme
$theme-colors: (
	"primary": #007a4b,
	"danger": #ff4136,
);

$primary-color: #673ab7;
$brand-primary: $primary-color;

// Import Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar {
	padding: 20px;
}
