// Change the theme
$theme-colors: (
	"primary": rgb(50, 120, 45),
);

$primary-fade: rgba(map-get($theme-colors, primary), 0.1);

// Import Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
	background-image: none;
}

.navbar {
	padding: 20px;
}

.card-link,
.card-footer > button {
	color: map-get($theme-colors, primary);
	margin: -10px;
	padding: 5px 5px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.card-link:hover,
.card-footer > button:hover,
.card-footer > button:focus,
.card-footer > button:visited,
.card-footer > button:active {
	color: map-get($theme-colors, primary);
	background-color: $primary-fade;
}
