.loginCard {
	margin-top: 6em;
	margin-bottom: 6em;
}

.loginCard > .card-footer > p {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}

#loginRegLink {
	margin: -2.5px 0px 0px 2.5px;
	padding: 2.5px 5px;
}

.backgroundImage {
	position: fixed;

	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	background: url("/green-abstract.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.loginCard-header {
	text-align: center;
	font-size: 20px;
}

.card-header > .logo > .logo_f {
	color: rgba(0, 0, 0, 0.7) !important;
	margin-right: 3px;
}

.card-header > .logo > .logo_t {
	color: rgba(0, 0, 0, 1) !important;
}
